@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Home.css">
</head>

    <div class="container mt-4">
    <!--div class="fundobranco"><h1 class="text-center">Bem-vindo ao Portal do Aluno</h1></div-->
        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Materiais de Estudo</h5>
                        <p class="card-text">Acesse aqui os materiais de estudo disponibilizados para sua turma.</p>
                        <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comunicações com o Professor</h5>
                        <p class="card-text">Mantenha-se em contato com o professor e tire suas dúvidas.</p>
                    <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Eventos e Calendário</h5>
                        <p class="card-text">Fique por dentro dos eventos e não perca nenhuma novidade.</p>
                    <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Atividades</h5>
                        <p class="card-text">Veja as atividades propostas e acompanhe seu progresso.</p>
                    <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Controle Financeiro</h5>
                        <p class="card-text">Gerencie seus pagamentos e fique por dentro das mensalidades.</p>
                    <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
